:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --surfarce-color: rgba(255, 255, 255, 0.1);
  --stoke-color: rgba(255, 255, 255, 0.5);
  --switch-bg-url: url(./assets/moon-stars.svg);
}
.lightSobre {
  --text-color: black;
  --surfarce-color: rgba(0, 0, 0, 0.05);
  --stoke-color: rgba(0, 0, 0, 0.5);
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.8s;
}

.lightSobre #switch button {
  animation: slide-in 0.8s forwards;
}

#switch button:hover {
  outline: 8px solid var(--hightlight-color);
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surfarce-color);
  border: var(--stoke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

#text{
  text-align: center;
}
p{
  font-weight: 600;
  max-width: 450px;
  margin-left: 450px;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .lightSobre{
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
/*animation*/
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
